body {
  overflow: hidden;
  text-align: center;
  position:relative;
  color: red;
 
}

.head {
  color: deepskyblue;
}

.heading {
  color: darkblue;
}

.welcome {
  color: black;
  margin-left: 20%;
  margin-right: 20%;
}

#email {
  color:red;
}

.header-logo img{
  margin: 0% 0% 0% 1%;
  float:left;
  width:6%;
}

.header-logo2 img{
  margin: 0% 1% 0% 0%;
  float:right;
  width:6%;
}




